@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  padding: 0%;
  margin: 0%;
  background-color: rgb(93, 156, 240);
}

.Navbar {
  background-color: rgb(83, 140, 214);
  padding: 1rem;
}

.Input-button-container {
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: start;
}

.location-input input {
  background-color: rgb(83, 140, 214);
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  outline: none;
  border: none;
}
.location-input input:focus {
  border-bottom: solid 0.1px white;
}

.Input-button-container button {
  padding: 1.2rem 2.2rem;
  font-size: 1.1rem;
  background-color: rgb(66, 103, 207);
  outline: none;
  border: none;
  text-transform: uppercase;
  margin-left: 0.5rem;
}
/* The Body CSS */

.The-image {
  width: 400px;
}
.The-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(93, 156, 240);
}
.Mini-stats {
  display: flex;
  padding: 1rem;
}
.Mini-stats div {
  margin: 0.5rem;
}
.Image-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.last-part {
  display: flex;
  background-color: rgb(93, 156, 240);
  padding-top: 1rem;
  flex-wrap: wrap;
}

.last-part div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.last-part img {
  width: 200px;
}

div .last-part {
  display: flex;
  justify-content: center;
  align-items: center;
}
